{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

<!-- Shopping Cart -->

<h2 class="cart-head">Shopping Cart</h2>
{% if cart_items %}
{% for item in cart_items %}
<div id="cart-area" class="row cardrow">
    <div id="cart-card">
        <div class="card">
            <div id="cart-image" class="card-image">
                <img src="{{ item.product.image.url }}">
            </div>
            <div class="card-content">
                <h5>{{ item.product.name }}</h5>
                <p>{{ item.product.price }}</p>
                <form class="form" action="{% url 'edit_cart' item.item_id %}" method="POST">
                    {% csrf_token %}
                    <p>Quantity</p>
                    <div class="btn-space">
                        <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                            value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                            id="id_qty_{{ item.item_id }}">
                        <input type="submit" class="btn grey lighten-3 black-text" value="Update">
                    </div>
                </form>
                <div class="btn-space">
                    <form class="form" action="{% url 'remove_from_cart' item.item_id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Remove Item">
                    </form>
                    <p class="my-0">Subtotal £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div id="button-row" class="row">
    <div class="btn-space">
        <a href="{% url 'checkout' %}">
            <button class="btn  green lighten-1">CheckOut</button>
        </a>
    </div>
</div>


<!-- Totals  -->

<div class="cart-head">
    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
    <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
    {% if free_delivery_delta > 0 %}
    <p>
        You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
    </p>
    {% endif %}
    {% else %}
    <p>Your bag is empty.</p>
    <a href="{% url 'products' %}">
        <span>Keep Shopping</span>
    </a>
    {% endif %}
    {% endblock %}