{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Parrallax Image With Buttons & Font -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 id="head-text" class="header center">The Original Coffee Company</h1>
        <div class="row center">
          <a href="" class="btn-large waves-effect waves-light brown lighten-3">View Our Products </a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'media/Coffee.jpg'%}" alt="Unsplashed background img 1"></div>
  </div>

  <!-- Company Testimonals -->
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Deliverys Dispatched Same Day</h5>
            <p class="light center">All Ordered Submitted before 8pm Will Arrive Next day</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">done</i></h2>
            <h5 class="center">Free Delivery On Orders over £</h5>
            <p class="light center">Let us take care of the delivery cost if you spend over a certain amount</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Quality Checked To Our Highest Standard</h5>
            <p class="light center">All of products are chekce the highest standard before leaving the store  </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Parrallax Image With More Font -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 id="middle-text" class="header col s12 Heading h2">Coffee Roasting Since 1969</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'media/Coffee.jpg'%}" alt="Unsplashed background img 1"></div>
  </div>

  <!-- About Us -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">From market stall to dot com, we now serve the nation from our original premises in Edinburgh. We are Scotland's oldest Coffe Roaster. founded in 1969. From our humble beginnings, serving the fledgling immigrant Italian community in old Edinburgh, we now list food products and wines from around the world, and supply the entire UK with an efficient, speedy delivery system that boasts a next-day service to 95% of the population.
            We are an independent family business
        </div>
      </div>

    </div>
  </div>
{% endblock %}