{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

<h4 id="checkout-header">CheckOut</h4>
<div id="checkout" class="row">
    <div class="col m6 s12">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>
            <fieldset>
                <legend>Delivery</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                <div>
                    {% if user.is_authenticated %}
                    <label for="id-save-info">Save this delivery information to my
                        profile</label>
                    <input type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                    <label for="id-save-info">
                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                    </label>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset>
                <legend>Payment</legend>
                <!-- A Stripe card element will go here -->
                <div id="card-element"></div>

                <!-- Used to display form errors -->
                <div id="card-errors" role="alert"></div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
            <div>
                <a class="btn fontbtn" href="{% url 'view_cart' %}">
                    <span>
                    </span>
                    <span>Adjust Bag</span>
                </a>
                <button class="btn fontbtn" id="submit-button">
                    <span>Complete Order</span>
                    <span>
                    </span>
                </button>
                <p>
                    <span>
                    </span>
                    <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </div>
        </form>
    </div>
    <div class="col m6 s12">
        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
        <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
        {% if free_delivery_delta > 0 %}
        <p>
            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
        </p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}