@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Global Styles */

html {
    height: 100%;
}

#body {
    font-family: 'Bebas Neue', cursive;

}

/* Nav Bar */

#head-text {
    color: black !important;
}

#middle-text {
    color: black;
}

nav ul a,
nav .brand-logo,
.material-icons {
    color: #444 !important;
}

.brand-logo {
    text-decoration: underline;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: 500px !important;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}


@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


#form1 {
    margin-left: 200px;
}

.side-nav li a {
    text-decoration: none;
}

#searchResults2 {
    background-color: #666666;
}

#searchResults {
    background-color: #666666;
}

.right li a {
    padding-right: 2em;
    text-decoration: none
}

.nav-wrapper {
    background-color: white;
}

.search-header {
    text-align: center;
}

/* Product List */

#product-view {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.card img {
    height: 480px !important;
}

/* Product Detail */

#product-detail-img img {
    width: 500px;
    height: 500px;
  }

  #product-detail {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }

  #product-detail-name {
    text-align: left;
  }

  /* Shopping Cart */

  #cart-image img {
    width: 300px;
    height: 300px;
  }