{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Coffe Co</title>
    {% endblock %}

    <title>The Coffee Co {% block extra_title %}{% endblock %}</title>

    {% block corecss %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}


    {% block corejs %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

</head>

<body id="body">
    <header>
        <!-- Nar Bar -->
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{% url 'home' %}" class="brand-logo" aria-label="home-page-logo">The Coffee
                    Co</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class='dropdown-trigger1' href='#' data-target='dropdown1' aria-label="account-drop-downn">My
                            Account</a>
                        <ul id='dropdown1' class='dropdown-content'>
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="add_product">Add
                                Product</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item" aria-label="my-profile">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="log-out">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item"
                                aria-label="register">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="Login">Login</a>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-trigger2' href='#' data-target='dropdown2'
                            aria-label="product-filter-dropdown">Products</a>
                        <ul id='dropdown2' class='dropdown-content'>
                            <li><a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item"
                                    aria-label="product-filter-by-price">By
                                    Price</a></li>
                            <li><a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item"
                                    aria-label="product-filter-by-category">By
                                    Category</a></li>
                            <li><a href="{% url 'products' %}" class="dropdown-item" aria-label="all-products">All
                                    Products</a></li>

                        </ul>
                    </li>
                    <li><a href="{% url 'products' %}?category=fresh_coffee" aria-label="fresh-coffee">Fresh Coffee</a>
                    </li>
                    <li><a href="{% url 'products' %}?category=machines" aria-label="coffee-machines">Coffee
                            Machines</a></li>
                    <li><a href="{% url 'products' %}?category=accessories" aria-label="accessories">Accessories</a>
                    </li>
                    <li>
                        <a class="modal-trigger" href="#modal1"><i class="material-icons"
                                aria-label="search-box">search</i></a>
                        <div id="modal1" class="modal">
                            <nav>
                                <div class="nav-wrapper">
                                    <form method="GET" action="{% url 'products' %}">
                                        <div class="input-field">
                                            <input id="search" type="search" type="text" name="q" required>
                                            <label class="label-icon" for="search"><i
                                                    class="material-icons">search</i></label>
                                            <i class="material-icons">close</i>
                                        </div>
                                    </form>
                                </div>
                            </nav>
                    </li>
                    <li> <i class="material-icons">local_grocery_store</i></li>
                    <li><a href="{% url 'view_cart' %}" aria-label="view-cart"> {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li>
                        <a class='dropdown-trigger3' href='#' id="user-options" data-target='dropdown3'
                            aria-label="mobile-drop-down">My Account</a>
                        <ul id='dropdown3' class='dropdown-content'>
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="add-product">Add
                                Product</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item" aria-label="profile">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="logout">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item"
                                aria-label="register">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="login">Login</a>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-trigger4' href='#' data-target='dropdown4'
                            aria-label="product-filter-dropdown">Products</a>
                        <ul id='dropdown4' class='dropdown-content'>
                            <li><a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item"
                                    aria-label="product-filter-by-price">By
                                    Price</a></li>
                            <li><a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item"
                                    aria-label="product-filter-by-category">By
                                    Category</a></li>
                            <li><a href="{% url 'products' %}" class="dropdown-item" aria-label="all-products">All
                                    Products</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'products' %}?category=fresh_coffee" aria-label="fresh-coffee">Fresh Coffee</a>
                    </li>
                    <li><a href="{% url 'products' %}?category=machines" aria-label="coffee-machines">Coffee
                            Machines</a></li>
                    <li><a href="{% url 'products' %}?category=accessories" aria-label="accessories">Accessories</a>
                    </li>
                    <li>
                        <div class="modal2">
                            <nav>
                                <div class="nav-wrapper">
                                    <form method="GET" action="{% url 'products' %}">
                                        <div class="input-field">
                                            <input id="search" type="search" type="text" name="q" required>
                                            <label class="label-icon" for="search"><i
                                                    class="material-icons">search</i></label>
                                            <i class="material-icons">close</i>
                                        </div>
                                    </form>
                                </div>
                            </nav>
                    </li>
                    <li><a href="{% url 'view_cart' %}" aria-label="view-cart"> {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <script>
        M.toast({
            html: "{{message}}",
            classes: 'green'
        })
    </script>
    {% elif message.tags == 'info' %}
    <script>
        M.toast({
            html: "{{message}}",
            classes: 'orange'
        })
    </script>
    {% elif message.tags == 'warning' %}
    <script>
        M.toast({
            html: "{{message}}",
            classes: 'yellow'
        })
    </script>
    {% elif message.tags == 'error' %}
    <script>
        M.toast({
            html: "{{message}}",
            classes: 'red '
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Footer -->
    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" id="footeraddress">
                    <h5 class="white-text">The Coffee Co</h5>
                    <h6>45 Ardlui Gardens</h6>
                    <h6>Hamilton</h6>
                    <h6>ML3 7PY</h6>
                    <h5>01698256788</h5>
                </div>
                <div class="col l6 s12">
                    <!-- Begin Mailchimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet"
                        type="text/css">
                    <div id="mc_embed_signup">
                        <form
                            action="https://hotmail.us11.list-manage.com/subscribe/post?u=67a94cdb1aee5d0925a074b2e&amp;id=1535068060"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe To All Things Coffee</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_67a94cdb1aee5d0925a074b2e_1535068060" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="button">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
                    </script>
                    <script type='text/javascript'>
                        (function ($) {
                            window.fnames = new Array();
                            window.ftypes = new Array();
                            fnames[0] = 'EMAIL';
                            ftypes[0] = 'email';
                            fnames[1] = 'FNAME';
                            ftypes[1] = 'text';
                            fnames[2] = 'LNAME';
                            ftypes[2] = 'text';
                            fnames[3] = 'ADDRESS';
                            ftypes[3] = 'address';
                            fnames[4] = 'PHONE';
                            ftypes[4] = 'phone';
                            fnames[5] = 'BIRTHDAY';
                            ftypes[5] = 'birthday';
                        }(jQuery));
                        var $mcj = jQuery.noConflict(true);
                    </script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-3">
            <div class="container">
            </div>
        </div>
    </footer>
</body>
<script>
    // Search Modal
    $(document).ready(function () {
        $('.modal').modal();
    });

    // Drop Down Menus - Nav Bar
    $('.dropdown-trigger1').dropdown();
    $('.dropdown-trigger2').dropdown();
    $('.dropdown-trigger3').dropdown();
    $('.dropdown-trigger4').dropdown();
    $(document).ready(function () {
        $('select').formSelect();
    });

    // Sort Selector

    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>

</html>