{% extends "base.html" %}
{% load static %}

{% block content %}

<style> 

.row2 {
    padding-left: 10px;
    display: flex;
}

.row3 {
    display: flex;
    justify-content: center;
}

.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 200px;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

</style>


<!-- Filer Options -->

    <div class="col s6 row2">
        <div class="input-field col s12">
            <select id="sort-selector">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                </option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to
                    low)
                </option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                    (A-Z)
                </option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category
                    (Z-A)
                </option>
            </select>
        </div>
    </div>


<div id="product-info" class="col s6 row3">
    <p>
        {% if search_term or current_categories or current_sorting != 'None_None' %}
        <span><a href="{% url 'products' %}" aria-label="view-products">Products Home</a>|</span>
        {% endif %}
        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </p>
</div>

<!-- Product Detail List -->

<div id="product-view">
    <div class="row">
        {% for product in products %}
        <div id="card-list-container-main" class="col s12 m6 l3">
            <div id="card-list-container" class="card">
                <div class="card-image">
                    {% if product.image %}
                    <a href="{% url 'product-detail' product.id %}">
                        <img class="responsive-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product-detail' product.id %}">
                        <img class="responsive-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="card-content">
                    <p>{{ product.name }}</p>
                    <p>£{{ product.price }}</p>
                    {% if product.category %}
                    <p>
                        <a href="{% url 'products' %}?category={{ product.category.name }}"
                            aria-label="product-category">{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}